<% include partials/header2 %>
<div class = "container_no_shrink">

    <div class="row">
      <div class="col-md-12  col-sd-12">
        <h3><%= question.question %> </h3>
      </div>

      <div class="col-md-6  col-sd-6">
          <h3>
            A <%= question.choiceA %>
          </h3>
      </div>
      <div class="col-md-6  col-sd-6">
          <h3>
            B <%= question.choiceB %>
          </h3>
      </div>
      <div class="col-md-6  col-sd-6">
          <h3>
            C <%= question.choiceC %>
          </h3>
      </div>
      <div class="col-md-6  col-sd-6">
          <h3>
            D <%= question.choiceD %>
          </h3>
      </div>
    </div>


</div>
<% include partials/footer2 %>
